@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
}

body {
  @apply bg-gray-50 text-gray-900;
  @apply dark:bg-bluegray-900 dark:text-gray-100;
  @apply min-h-screen max-w-full grid;
  grid-template-rows: auto 1fr auto;
}

h1 {
  @apply text-4xl sm:text-5xl mb-20 text-center;
}

h2 {
  @apply text-2xl font-bold tracking-wider;
  @apply dark:text-coolgray-200;
}

h3 {
  @apply text-xl tracking-wide;
  @apply dark:text-schuettel-200;
}

i {
  @apply italic;
}

header {
  @apply text-5xl font-bold tracking-tight text-black dark:text-gray-50 text-center my-24;
}

header > span {
  @apply font-normal tracking-normal;
  @apply bg-clip-text text-transparent bg-gradient-to-r from-purple-500 to-black;
  @apply dark:to-white;
}

section {
  @apply mb-20 sm:mb-40 text-left sm:text-center;
}

.funky-icon {
  @apply w-40 h-40 sm:w-48 sm:h-48 md:w-80 md:h-80 mx-auto;
}

.teaser {
  @apply mt-4 mb-4 sm:mb-8;
}

.teaser p {
  @apply mt-4 text-lg text-left sm:text-2xl sm:text-center;
  @apply dark:text-gray-200;
}

.additional-information {
  @apply px-6 py-10 sm:px-10 sm:py-16 rounded-xl bg-gradient-to-br shadow-inner;
  @apply from-coolgray-200 to-gray-200;
  @apply dark:from-coolgray-800 dark:to-gray-800;
}

.additional-information p {
  @apply text-base sm:text-xl tracking-wider leading-normal;
  @apply text-gray-900 font-light;
  @apply dark:text-gray-200;
}

.portrait-image {
  @apply w-36 sm:w-48;
  @apply rounded-full overflow-hidden shadow-xl border-4 border-white;
}

/* footer */
footer.dark-banner {
  @apply text-center mt-24 pt-10 pb-16 border-t-4 text-lg tracking-wider leading-normal;
  @apply bg-coolgray-100 border-gray-300;
  @apply dark:bg-coolgray-900 dark:border-coolgray-800 dark:text-coolgray-200;
}

footer a {
  @apply inline-block mt-2 underline transition ease-in-out duration-150;
  @apply text-purple-500 hover:text-black;
  @apply dark:text-purple-400 dark:hover:text-white;
}

.link {
  @apply text-lg tracking-wider text-schuettel-500 transition hover:text-black;
  @apply dark:text-schuettel-300 dark:hover:text-white;
}

a.contact-button {
  @apply tracking-wider inline-flex items-center py-4 border border-transparent shadow-sm text-base font-medium rounded-md text-white bg-schuettel-600 hover:bg-schuettel-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-schuettel-500 w-full max-w-xl transition;
}

.cube-svg { background-image: url(../images/cube.svg); }
.heart-svg { background-image: url(../images/heart.svg); }
.terminal-svg { background-image: url(../images/terminal.svg); }
.at-symbol-svg { background-image: url(../images/at_symbol.svg); }

[x-cloak] { display: none !important; }
