@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Dosis';
  src: url('../src/fonts/Dosis-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis';
  src: url('../src/fonts/Dosis-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis';
  src: url('../src/fonts/Dosis-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis';
  src: url('../src/fonts/Dosis-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis';
  src: url('../src/fonts/Dosis-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis';
  src: url('../src/fonts/Dosis-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis';
  src: url('../src/fonts/Dosis-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

* {
  font-family: 'Dosis';
}

html {
  @apply min-h-full;
}

body {
  @apply md:mx-auto bg-white text-gray-900 gap-y-20;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 'header' 'main' 'footer';
}

h1 {
  @apply text-4xl text-right font-semibold tracking-wider mt-28 mb-10;
}

h2 {
  @apply font-semibold text-2xl tracking-wide;
}

h3 {
  @apply text-base font-semibold tracking-wide;
}

p {
  @apply text-xl tracking-wide leading-relaxed;
}

header {
  @apply flex flex-col md:mx-auto md:my-10 p-4;
  grid-area: header;
}

main {
  @apply p-4 grid grid-cols-1 md:mx-auto md:grid-cols-2 gap-24;
  grid-area: main;
}

section {
  @apply flex flex-col gap-y-4 max-w-prose;
}

.section-icon {
  @apply w-full flex justify-center;
}

.section-icon svg {
  @apply w-20 h-20 text-raspberry-500;
}

details {
  @apply flex flex-col justify-center space-y-4;
}

details > div {
  @apply border-l-4 p-4 flex flex-col gap-y-6 bg-gray-100 rounded-lg;
}

details p {
  @apply text-lg;
}

summary {
  @apply text-lg text-raspberry-500 cursor-pointer hover:text-black transition;
}

footer {
  @apply flex bg-raspberry-500 text-white px-4 py-8;
  grid-area: footer;
}

.mailto {
  @apply text-lg underline text-white transition hover:text-black;
}

.contact-button {
  @apply w-full flex items-center gap-x-2 justify-center text-2xl bg-raspberry-500 text-white p-2 rounded-lg hover:bg-raspberry-500/80 transition;
}

.schuettel-logo {
  @apply flex items-center gap-x-2 justify-end;
}

.schuettel-logo--ruby {
  @apply flex h-16 w-20 text-raspberry-500;
}

.schuettel-logo--text {
  @apply text-2xl text-raspberry-500 font-light;
}

.schuettel-logo--text strong {
  @apply font-bold not-italic;
}

@keyframes flare {
  0% { opacity: 1; }
  50% { opacity: 0.4; }
  100% { opacity: 1; }
}

.portrait-image {
  @apply mx-auto rounded-full overflow-hidden w-32 h-32 border-8 border-gray-300;
}

.animated-ruby #top_left {
  animation-name: flare;
  animation-duration: 2s;
  animation-delay: 0s;
}

.animated-ruby #top_center_left {
  animation-name: flare;
  animation-duration: 2s;
  animation-delay: 0.2s;
}

.animated-ruby #top_center {
  animation-name: flare;
  animation-duration: 2s;
  animation-delay: 0.4s;
}

.animated-ruby #top_center_right {
  animation-name: flare;
  animation-duration: 2s;
  animation-delay: 0.6s;
}

.animated-ruby #top_right_edge {
  animation-name: flare;
  animation-duration: 2s;
  animation-delay: 0.8s;
}

.animated-ruby #top_right {
  animation-name: flare;
  animation-duration: 2s;
  animation-delay: 1s;
}

.animated-ruby #bottom_left {
  animation-name: flare;
  animation-duration: 2s;
  animation-delay: 0.4s;
}

.animated-ruby #bottom_center {
  animation-name: flare;
  animation-duration: 2s;
  animation-delay: 0.6s;
}

.animated-ruby #bottom_right {
  animation-name: flare;
  animation-duration: 2s;
  animation-delay: 0.8s;
}
