@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Dosis';
  src: url('../src/fonts/Dosis-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis';
  src: url('../src/fonts/Dosis-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis';
  src: url('../src/fonts/Dosis-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis';
  src: url('../src/fonts/Dosis-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis';
  src: url('../src/fonts/Dosis-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis';
  src: url('../src/fonts/Dosis-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis';
  src: url('../src/fonts/Dosis-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

* {
  font-family: 'Dosis';
}

body {
  @apply dark:bg-gray-900 dark:text-gray-300;
}

h2 {
  @apply font-medium text-4xl tracking-wide;
}

h3 {
  @apply text-base font-semibold tracking-wide;
}

p {
  @apply text-xl tracking-wide leading-relaxed;
}

section {
  @apply flex flex-col gap-y-4 ;
}

.section-icon {
  @apply w-full flex justify-center;
}

.section-icon svg {
  @apply w-20 h-20 text-raspberry-500 dark:text-raspberry-500;
}

details {
  @apply flex flex-col justify-center space-y-4;
}

details .details {
  @apply p-4 flex flex-col gap-y-6 dark:bg-gray-800 rounded border dark:border-gray-700;
}

summary {
  @apply text-lg text-raspberry-500 cursor-pointer hover:text-black transition;
}

@keyframes flare {
  0% { opacity: 1; }
  50% { opacity: 0.4; }
  100% { opacity: 1; }
}

#top_left {
  animation-name: flare;
  animation-duration: 2s;
  animation-delay: 0s;
}

#top_center_left {
  animation-name: flare;
  animation-duration: 2s;
  animation-delay: 0.2s;
}

#top_center {
  animation-name: flare;
  animation-duration: 2s;
  animation-delay: 0.4s;
}

#top_center_right {
  animation-name: flare;
  animation-duration: 2s;
  animation-delay: 0.6s;
}

#top_right_edge {
  animation-name: flare;
  animation-duration: 2s;
  animation-delay: 0.8s;
}

#top_right {
  animation-name: flare;
  animation-duration: 2s;
  animation-delay: 1s;
}

#bottom_left {
  animation-name: flare;
  animation-duration: 2s;
  animation-delay: 0.4s;
}

#bottom_center {
  animation-name: flare;
  animation-duration: 2s;
  animation-delay: 0.6s;
}

#bottom_right {
  animation-name: flare;
  animation-duration: 2s;
  animation-delay: 0.8s;
}
